<h2>HELL</h2>
<div> elit. Labore aliquid quia eligendi vel aspernatur, beatae molestiae obcaecati laborum velit doloremque qui quo debitis delectus aut aliquam corrupti. Quisquam, aperiam officiis!
Voluptates, ab, quidem est iusto quam temporibus sunt harum enim, necessitatibus saepe veritatis, voluptatum dolor. Fuga facere pariatur natus reprehenderit. Natus et assumenda aperiam porro mollitia eius.</div>
<% for (let i = 0; i < 10; i++) {%>
  <h6>HELLO 1 <%= title %></h6>
<% } %>
<h3>asd</h3>